body {
    padding-left: 100px;
    padding-right: 100px;
}

.project {
    border-color: black;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 2%;
    text-align: justify;
    min-height: 450px;
}